@mixin direct-child-holder($count, $gutter: 0px) {
    > * {
        width: 100%;
        max-width: calc(#{100% / $count} - #{$gutter * ($count - 1)});

        &:not(:nth-child(#{$count})) {
            margin-right: $gutter;
        }
    }
}

.o-movie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    transition: all 0.5s ease-in-out;

    background: linear-gradient(225deg, #dde2e3, #ffffff);
    box-shadow:  -15px 20px 60px #d1d5d6, 
                15px -20px 60px #ffffff;

    h2{
        margin-top: 0px;
        text-align: left;
        color: #30363b;
    }

    .duration{
        margin-top: 10px;
        text-align: right;
        font-weight: bold;
        font-style: italic;
    }

    
    > * {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px 24px;
        height: 100%;
    }
    
    
    &:hover{
        transform: scale(1.02);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
        a {
            display: flex;
            text-align: left;
        }
    
        .o-movie {
            border-radius: 10px;
            margin-bottom: 20px;
        }
    }

    &__holder {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;

        @include direct-child-holder(1);

        @media screen and (min-width: 567px) {
            @include direct-child-holder(2, 20px);
        }
        
        @media screen and (min-width: 1000px) {
            @include direct-child-holder(3, 20px);
        }
    }
}